body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 225, 243);
    margin: 0;
  
    font-family: 'Arvo';
    font-weight: 200;
  }
  
  .info-box {
    width: 100%;
    /* display: flex;
    justify-content: space-around; */
    padding: 20px 20px 0px 20px;
  }
  
  h1 {
    letter-spacing: 1.5px;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  /* FONTS */
  @font-face {
    font-family: 'Arvo-italic';
    src: url('./fonts/Arvo-Italic.woff2') format('woff2'),
        url('./fonts/Arvo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Arvo-bold';
    src: url('./fonts/Arvo-Bold.woff2') format('woff2'),
        url('./fonts/Arvo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Arvo-bold-italic';
    src: url('./fonts/Arvo-BoldItalic.woff2') format('woff2'),
        url('./fonts/Arvo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Arvo';
    src: url('./fonts/Arvo.woff2') format('woff2'),
        url('./fonts/Arvo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }